@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    font-size: 18px;
}

a {
    text-decoration: none;
}

.mainheader {
    background-color: rgb(39, 66, 82);
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 26em)) 1fr;
    align-items: flex-end;
    padding: 0 30px;
    padding-bottom: 50px;
}

.mainheader>p {
    max-width: 340px;
    border-top: 4px solid rgb(104, 141, 136);
    font-size: 50px;
    padding-top: 35px;
    letter-spacing: .5px;
    line-height: 44px;
    grid-column: 2/3;
}

.mainheader>p a {
    color: white;
}

.mainheader>p a:hover {
    color: rgb(104, 141, 136);
}

.mainheader nav {
    grid-column: 3/4;
}

.mainheader nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    font-size: 15px;
    margin-top: 14px;
    flex-wrap: wrap;
}

.mainheader nav h3 {
    color: rgb(104, 141, 136);
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
}

.mainheader nav ul a {
    color: white;
}

.mainheader nav ul a:hover {
    color: rgb(104, 141, 136);
}

.firstdiv {
    text-align: center;
    background-image: linear-gradient(to right, rgb(177, 209, 171), rgb(211, 229, 186), rgb(255, 241, 196));
    margin-top: 0;
    padding: 30px;
}

.firstdiv h1 {
    color: rgb(104, 141, 136);
    font-weight: 500;
}

.firstdiv p {
    color: rgb(138, 138, 138);
    font-size: 20px;
    line-height: 35px;
}

main {
    padding: 0 30px;
}

.table {
    border-collapse: collapse;
    margin: 50px auto;
    max-width: 900px;
}

.table tr th {
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    color: rgb(169, 179, 182);
    padding-right: 45px;
    width: fit-content;
}

.table thead th {
    color: rgb(104, 141, 136);
    font-size: 23px;
    padding-bottom: 20px;
}

.table thead td {
    padding-bottom: 37px;
}

.table td {
    color: rgb(169, 179, 182);
    padding: 25px 0;
    vertical-align: top;
    width: 40%;
}

.table tbody td:nth-of-type(1) {
    padding-right: 15px;
}

.table tbody td:nth-of-type(2) {
    padding-left: 15px;
}

.table tbody td {
    border-top: 1.3px solid rgb(218, 225, 226);
}

.table tbody th {
    vertical-align: top;
    padding-top: 26px;
}

.descrip td .link1 {
    color: rgb(104, 141, 136);
    font-size: 19px;
    display: block;
}

.descrip td .link2 {
    color: rgb(138, 138, 138);
    display: block;
}

.descrip td .link2:hover {
    color: rgb(169, 179, 182);
}

footer {
    background-color: rgb(39, 66, 82);
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 26em)) 1fr;
    padding: 25px 30px;
}

footer p {
    color: rgb(104, 141, 136);
    grid-column: 2/3;
    font-size: 15px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    grid-column: 3/4;
    justify-content: flex-end;
}

footer ul a {
    color: white;
    font-size: 15px;
    font-weight: 300;
}

footer ul a:hover {
    color: rgb(104, 141, 136);
}


@media screen and (max-width:900px) {

    .mainheader {
        display: block;
        padding-bottom: 50px;
    }

    .mainheader>p {
        margin-bottom: 50px;
    }

    .mainheader nav ul {
        justify-content: center;
    }

    .mainheader nav h3 {
        justify-content: center;
    }
}

@media screen and (max-width:400px) {
    .mainheader>p {
        font-size: 34px;
        max-width: 250px;
    }

    .table thead th {
        font-size: 15px !important;
    }

    .table tr th {
        padding-right: 25px;
    }

    main {
        padding: 0 20px;
    }
}