@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    font-size: 18px;
}

a {
    text-decoration: none;
}

.mainheader {
    background-color: rgb(39, 66, 82);
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 26em)) 1fr;
    align-items: flex-end;
    padding: 0 30px;
}

.mainheader>p {
    max-width: 340px;
    font-weight: 100;
    border-top: 4px solid rgb(104, 141, 136);
    font-size: 50px;
    padding-top: 35px;
    letter-spacing: .5px;
    line-height: 44px;
    grid-column: 2/3;
}

.mainheader>p a {
    color: white;
}

.mainheader>p a:hover {
    color: rgb(104, 141, 136);
}

.mainheader nav {
    grid-column: 3/4;
}

.mainheader nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    font-size: 15px;
    margin-top: 14px;
    flex-wrap: wrap;
}

.mainheader nav h3 {
    color: rgb(104, 141, 136);
    font-weight: 300;
    display: flex;
    justify-content: flex-end;
}

.mainheader nav ul a {
    color: white;
}

.mainheader nav ul a:hover {
    color: rgb(104, 141, 136);
}

.mainheader div {
    grid-column: 2/4;
    text-align: center;
    font-weight: 100;
    /* width: 800px; */
    margin: 50px auto;
}

.mainheader div p:first-of-type {
    color: rgb(104, 141, 136);
    font-size: 37px;
    font-weight: 300;
    margin-bottom: 10px;
}

.mainheader div p:last-of-type {
    color: white;
    font-size: 24px;
    line-height: 45px;
}

.mainheader div a {
    color: white;
    font-weight: 400;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px 25px;
    display: inline-block;
    margin-top: 18px;
}

.mainheader div a:hover {
    background-color: white;
    color: rgb(104, 141, 136);
}

img {
    width: 100%;
    border-radius: 5px;
}

main {
    padding: 0 30px;
    margin: 45px 0;
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(auto, 290px)) 1fr;
    gap: 30px;
}

.sec1 {
    grid-column: 2/3;
}

.sec2 {
    grid-column: 3/4;
}

.sec3 {
    grid-column: 4/5;
}

.sec p:first-child {
    color: rgb(169, 175, 185);
    font-size: 13px;
}

.sec img {
    margin-top: 12px;
}

.sec h3 {
    color: rgb(104, 141, 136);
    font-weight: 300;
}

.sec h3:hover {
    color: rgb(169, 175, 185);
}

.sec p:last-child {
    color: rgb(143, 150, 161);
    font-size: 16px;
    font-weight: 300;
}

footer {
    background-color: rgb(39, 66, 82);
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 26em)) 1fr;
    padding: 25px 30px;
}

footer p {
    color: rgb(104, 141, 136);
    grid-column: 2/3;
    font-size: 15px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    grid-column: 3/4;
    justify-content: flex-end;
}

footer ul a {
    color: white;
    font-size: 15px;
    font-weight: 300;
}

footer ul a:hover {
    color: rgb(104, 141, 136);
}

@media screen and (max-width:900px) {

    .mainheader {
        display: block;
        padding-bottom: 1px;
    }

    .mainheader>p {
        margin-bottom: 50px;
    }

    .mainheader nav ul {
        justify-content: center;
    }

    .mainheader nav h3 {
        justify-content: center;
    }

    main {
        display: block;
    }
}

@media screen and (max-width:400px) {
    .mainheader>p {
        font-size: 34px;
        max-width: 250px;
    }
}